<div 
    class="ItemsWrapper"
    [ngStyle]="{
        'width': isSidebarOpen ? '240px' : '60px'
    }"
>
    <a
        routerLink="/dashboard"
        class="HeaderNavLink"
        [ngClass]="{
            'active': activeLink === 'dashboard'
        }
        "
    >
        <ng-container *ngIf="isSidebarOpen; else dashboardIcon">
        <div class="IconTextWrapper">
            <svg-icon
                class="IconStyle"
                [applyClass]="true"
                src='../../../assets/img/dashboard-icon.svg'
            ></svg-icon>
            <p class="IconText">Dashboard</p>
        </div>
        </ng-container>
        
        <ng-template #dashboardIcon>
        <svg-icon
            class="IconStyle"
            [applyClass]="true"
            src='../../../assets/img/dashboard-icon.svg'
        ></svg-icon>
        </ng-template>
    </a>

    <a
        [routerLink]="'/recipes'"
        class="HeaderNavLink"
        [ngClass]="{
            'active': activeLink === 'recipes'
        }
        "
    >
        <ng-container *ngIf="isSidebarOpen; else foodIcon">
        <div class="IconTextWrapper">
            <svg-icon
                class="IconStyle"
                [applyClass]="true"
                src='../../../assets/img/food-icon.svg'
            ></svg-icon>
            <p class="IconText">Recipes</p>
        </div>
        </ng-container>
        
        <ng-template #foodIcon>
            <svg-icon
                class="IconStyle"
                [applyClass]="true"
                src='../../../assets/img/food-icon.svg'
            ></svg-icon>
        </ng-template>
    </a>

    <a
        routerLink="/how-it-works"
        class="HeaderNavLink"
        [ngClass]="{
            'active': activeLink === 'how-it-works'
        }"
        
    >
        <ng-container *ngIf="isSidebarOpen; else howItWorksIcon">
            <div class="IconTextWrapper">
                <svg-icon
                    class="IconStyle"
                    [applyClass]="true"
                    src='../../../assets/img/how-it-works-icon.svg'
                ></svg-icon>
                <p class="IconText">How It Works</p>
            </div>
        </ng-container>
        
        <ng-template #howItWorksIcon>
            <svg-icon
                class="IconStyle"
                [applyClass]="true"
                src='../../../assets/img/how-it-works-icon.svg'
            ></svg-icon>
        </ng-template>
    </a>
    
    <a
   
        routerLink="/about-us"
        class="HeaderNavLink"
        [ngClass]="{
            'active': activeLink === 'about-us'
        }"
    >
        <ng-container *ngIf="isSidebarOpen; else aboutUsIcon">
        <div class="IconTextWrapper">
            <svg-icon
                class="IconStyle"
                [applyClass]="true"
                src='../../../assets/img/about-us-icon.svg'
            ></svg-icon>
            <p class="IconText">About us</p>
        </div>
        </ng-container>
        
        <ng-template #aboutUsIcon>
            <svg-icon
                class="IconStyle"
                [applyClass]="true"
                src='../../../assets/img/about-us-icon.svg'
            ></svg-icon>
        </ng-template>
    </a>
</div>