
.SignUpWrapper{
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: #eef2f6; */
}

.ButtonWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.FormWrapper{
    position: relative;
    z-index: 1;
    margin: auto;
    /* width: 266px; */
}

.LogoContainer{
    display: flex;
    justify-content: center;  
    margin-bottom: 32px;

}

.LoginHeadText{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #7b8b9a;
    margin-bottom: 24px;
    font-family: "Roboto", "sans-serif";
}

.EnterCredentialsText{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #9E9E9E;
    margin-bottom: 24px;
    font-family: "Roboto", "sans-serif";
}

.LogoImg{
    height: 70px;
    cursor: pointer;
}

.FormLabel{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #121926;
    margin-bottom: 8px;
    font-family: "Century Gothic", "sans-serif";
}

.FormLabel.italic{
    font-style: italic;
}

.FormLink{
    font-style: italic;
    font-weight: 400;
    line-height: 17px;
    color: #4d5867;
    font-family: "Century Gothic", "sans-serif";
}

.FormRow{
    position: relative;
    margin-bottom: 16px;
}

.FormRow:last-child{
    margin-bottom: 0;
}

.FormRow.right{
    display: flex;
    justify-content: flex-end;
}

.FormRow.center{
    display: flex;
    justify-content: center;
}

.FormRow button.ProfileButton{
    width: 185px;
}

.FormRow.buttonRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FormRow.isIngredient{
    max-width: 480px;
    width: 100%;
}

.FormIcon{
    width: 35px;
    height: 35px;

    position: absolute;
    top: 5px;
    left: -15px;
}




.FieldStyleType1{
    width: 100%;
    height: 48px;
    padding: 0 24px;
    border: 1px solid #121926;
    border-radius: 8px;

    outline: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Century Gothic", "sans-serif";
}

.FieldStyleType1.SearchBar{
    padding: 12.5px 8px 12.5px 32px;
    height: 40px;

    background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 12px center;

}

.FieldStyleType1.error{
    outline: none;
    border: 2px solid rgb(182, 24, 39);
}

.FieldStyleType1::placeholder{
    color: #7b8b9a;
}

.FieldStyleType1:focus{
    border: 2px solid #00a8e8;
}

.FieldStyleType2{
    width: 100%;
    height: 48px;
    padding: 0 24px;
    border: 0;
    border-bottom: 1px solid #121926;
    background-color: unset;

    color: #7b8b9a;

    outline: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Century Gothic", "sans-serif";
}

.FieldStyleType2.error{
    outline: none;
    border-bottom: 2px solid rgb(182, 24, 39);
}


.FieldStyleType2:focus{
    border-bottom: 2px solid #4d5867;
}

.ErrorMesagge{
    display:block;
    font-size: 12px;
    color: rgb(182, 24, 39);
    padding-top: 8px;
    font-weight: 400;

    font-family: "Century Gothic", "sans-serif";
}



@media (min-width: 768px) {
    .FieldStyleType1{
        width: 572px;
    }
    .LogoContainer{
        margin-bottom: 64px;
    }
    .LogoImg{
        height: 100px;
    }

    .FormRow button.ProfileButton{
        width: 100%;
    }

    .FormRow{
        margin-bottom:24px;
    }
}

@media (min-width: 1024px) {
    .FieldStyleType1{
        font-size: 16px;
    }
    .FieldStyleType1:focus{
        border: 2px solid #4d5867;
        
    }
    .LogoImg{
        height: 155px;
    }
}