<app-layout *ngIf="isLoggedIn; else appContent" [title]="title">
    <div style='
        min-height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;'
    >
        <p class="RedTextStyle">
            This page does not exist
        </p>
        <p class="GrayTextStyle">
            It looks like you found a glitch in the matrix...
        </p>
        <app-button
            (click)="navigate('/dashboard')"
            widthProp="250px"
        >
        Go to home page
        </app-button>
    </div>
</app-layout>
   
    
<ng-template #appContent>
    <app-content [title]="title">
        <div style='
            min-height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;'
        >
            <p class="RedTextStyle">
                This page does not exist
            </p>
            <p class="GrayTextStyle">
                It looks like you found a glitch in the matrix...
            </p>
            <app-button
            (click)="navigate('/dashboard')"
                widthProp="250px"
            >
            Go to home page
            </app-button>
        </div>
    </app-content>
</ng-template>