<app-layout title="Recipes">
  <app-card>
    <app-button headingElement [isTertiary]="true">Filter</app-button>
    <input
        headingElement
        type="text"
        id="searchBar"
        class="FieldStyleType1 SearchBar"
        placeholder="Search name or description"
        onchange="handleSearchInput()"
        />
    
        <div style="margin-bottom: 25px;">
          <app-button>Add Recipe +</app-button>
        </div>
        <div class="RecipeWrapper">
          <app-recipe-card
            *ngFor="let recipe of searchRecipe"
            [recipe]="recipe"
            (click)="navigate(recipe.id)"
          ></app-recipe-card>
        </div>

  </app-card>
</app-layout>
