:host {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: auto;
    max-width: 650px;
    max-height: 500px;
    padding: 10px;
    color: #121926;
    background: #F2F2F2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    border: 1px solid #E0E7ED;
    border-radius: 8px;
}

:host(:hover) {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: #cadcec 0px 6px 15px;
}



/* .RecipeCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: auto;
  max-width: 650px;
  max-height: 500px;
  padding: 10px;
  color: #121926;
  background: #F2F2F2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  border: 1px solid   #E0E7ED;
  border-radius: 8px;
}

.RecipeCardWrapper:hover{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: #cadcec 0px 6px 15px;
} */

.RecipeImage {
    width: 100%;
    height: 188px;
    object-fit: cover;
    border-radius: 8px;
}

.TextWrapper {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow-wrap: anywhere;
}

.NameFavoritesWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.FavoriteIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 30px;
    height: 30px;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.RecipeName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 35px);
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
}

.RecipeDescription {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 14.5px;
    font-size: 14px;
    font-weight: 500;
    height: 60px;
}

.CloseIcon {
    width: 10px;
    height: 10px;
    cursor: pointer;
    fill: white;
}

.RecipeIngredientsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 54px;
    overflow: hidden;
}

.ButtomTextWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BottomTextWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.RecipeCategory {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-transform: uppercase;
    color: #455439;
}

.CookTimeWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.CookTimeIcon {
    width: 20px;
    height: 20px;
}

.CookTimeLabel {
    font-size: 12px;
    font-weight: 500;
}

.AddFavorite {
    width: 20px;
    height: 20px;
    fill: white;
    cursor: pointer;
}

.AddFavorite:hover {
    fill: #ef5350;
}

.AddFavorite:active {
    transform: scale(1.2);
}

.AddFavorite.isFavorite {
    fill: #ef5350;
}

.CookTime {
    height: 20px;
    width: auto;
    stroke: white;
}

.CookTime:hover {
    fill: none
}

.CommentIcon {
    width: 20px;
    height: 20px;
    fill: #7b8b9a;
    stroke: #7b8b9a;
}

.ServingsIcon {
    height: 20px;
    width: auto;
    stroke: white;
}

.ServingsIcon:hover {
    fill: none
}

@media (min-width: 768px) {
    :host {
        height: 210px;
        flex-direction: row;
    }

    /* .RecipeCardWrapper {
        height: 210px;
        flex-direction: row;
    } */
    .RecipeImage {
        width: 188px;
    }

    .TextWrapper {
        width: calc(100% - 188px);
    }

    .RecipeName {
        line-height: 39px;
    }
}