<img
    class="Background" 
    [ngStyle]="{
        'background-image': 'url(../../assets/img/pattern.jpg)',
    }"
/>

    <div class="NavigationWrapper" *ngIf="showHeading">
    <div class="TitleButtonWrapper">
        <h1 
            class="Title" 
            [ngIf]="title"   
            [ngStyle]="{
                'text-align': isCentered && 'center' ,
                'width': isCentered && '100%' ,
            }" 
            >{{ title }}
        </h1>

        <div class="ButtonWrapper" *ngIf="elements">
            {{ elements }}
        </div>
    </div>
    </div>
    
    <div class="ChildrenWrapper">
    <ng-content></ng-content>
</div>
