<div class="BreadcrumbsWrapper" [ngClass]="pathNames.length===0 ? 'empty':'' ">
    <a class="BreadcrumbsLink" (click)="navigateTo('/dashboard')" *ngIf="pathNames.length > 0">
        <svg-icon 
            class="DashboardIcon"
            [applyClass]="true"
            src="../../../../assets/img/dashboard-icon.svg"
            >
        </svg-icon>
    </a>
    <img class="ChevronRight" src="../../../../assets/img/chevron-right.svg" *ngIf="pathNames.length > 0"/>


    <div style="display:flex; align-items: center;" *ngFor="let path of pathNames; let i = index">
        <a 
            class="BreadcrumbsLink" 
            [ngClass]="i+1<pathNames.length ? 'notLast':''" 
            (click)="i+1<pathNames.length ? navigateBreadcrumb(i) : ''"
        >
            {{ formatRouteNameForDisplay(path) }}
        </a>

        <img
            *ngIf="i < pathNames.length - 1"
            class="ChevronRight"
            src="../../../../assets/img/chevron-right.svg"
        />
    </div>
</div>