<div class="BreadcrumbsWrapper" [ngClass]="pathNames.length===0 ? 'empty':'' ">
    <a class="BreadcrumbsLink" (click)="navigateTo('/dashboard')" *ngIf="pathNames.length > 0">
        <img class="DashboardIcon" src="../../../../assets/img/dashboard-icon.svg" />
    </a>
    <img class="ChevronRight" src="../../../../assets/img/chevron-right.svg" *ngIf="pathNames.length > 0"/>


    <div style="display:flex;" *ngFor="let path of pathNames; let i = index">
        <a class="BreadcrumbsLink" [ngClass]="i+1<pathNames.length ? 'notLast':''">
            {{ formatRouteNameForDisplay(path) }}
        </a>

        <img
            *ngIf="i < pathNames.length - 1"
            class="ChevronRight"
            src="../../../../assets/img/chevron-right.svg"
        />
    </div>
</div>