<div class="LeftSideWrapper">
  <a class="LogoWrapper" routerLink="/dashboard">
    <img class="LogoImg" src='../../../assets/img/logo.png' alt="logo" />
  </a>
  <svg-icon class="HamburgerIcon left" [applyClass]="true" src='../../../assets/img/hamburger-icon.svg' (click)="handleHamburgerClick()"></svg-icon>
</div>

<div class="HeaderProfileWrapper">
  <app-button class="HeaderButton" (click)="logout()">Logout</app-button>

  <nav class="HeaderProfile" (mouseover)="isHeaderProfileHover = true" (mouseleave)="isHeaderProfileHover = false">
    <img class="ProfileImg" [src]='userImgSrc' alt="profile" />
    <svg-icon [class]="isHeaderProfileHover ? 'Arrow hover':'Arrow'" [applyClass]="true" src='../../../assets/img/arrow-icon.svg'></svg-icon>
  </nav>
  <svg-icon class="HamburgerIcon" [applyClass]="true" src='../../../assets/img/hamburger-icon.svg' (click)="handleHamburgerClick()"></svg-icon>
</div>
